.coins {
  width: 90%;
  margin: 0 auto;
}

.market {
  display: none;
}

.change {
  display: none;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.thead {
  color: #1b8f6e;
}

.border {
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom: 1px solid #13dba4;
}
