.border-color {
  border-bottom: 1px solid #13dba4;
}

.coin__rank {
  padding-right: 15px;
}
.coin__icon {
  height: 32px;
  width: 32px;
  margin: -2px 10px 0 0;
}

.coin {
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.coin__symbol {
  color: #deb952;
}
